<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi sitio</title>
</head>
<body>
  <div class="container">
    <h1>Calculadora</h1>
    <label class="">Operando A</label>
    <br>
    <input class="form-control" type="number" id="inText" [(ngModel)]="inputA" />
    <br>
    <label class="">Operando B</label>
    <br>
    <input class="form-control" type="number" id="inText" [(ngModel)]="inputB" />
    <br>
    <button class="btn btn-primary me-2" id="butt" (click)="sumar">+</button>
    <button class="btn btn-primary me-2" id="butt" (click)="restar">-</button>
    <button class="btn btn-primary me-2" id="butt" (click)="multiplicar">*</button>
    <button class="btn btn-primary me-2" id="butt" (click)="dividir">/</button>
    <br>
    <input class="form-control mt-3" type="text" id="outText" readonly [(ngModel)]="output">
  </div>
</body>
</html>

<router-outlet></router-outlet>