<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi sitio</title>
</head>
<body>
  <div class="container-fluid container">
    <h1>Datos de entrada</h1>
    <label for="">Nombre</label>
    <input type="text" name="nombre" id="nombre" #nombre placeholder="Ingrese su nombre" class="form-control">
    
    <label for="">Telefono</label>
    <input type="tel" name="telefono" id="telefono" #telefono placeholder="Ingrese su nombre" class="form-control">

    <label for="">Email</label>
    <input type="email" name="email" id="email" #email placeholder="Ingrese su nombre" class="form-control">

    <button class="btn btn-primary mt-3" (click)="insertar(nombre, telefono, email)">Enviar</button>

    <hr>
    <!-- Listado de contactos -->
    <div *ngFor="let element of agenda" class="list-group list-group-flush">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{element.nombre}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{element.telefono}}</h6>
          <p class="card-text">{{element.email}}</p>
        </div>
      </div>
    </div>

  </div>
</body>
</html>

<router-outlet></router-outlet>