<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi sitio</title>
</head>
<body>
  <div *ngIf="edad >= 18; else Menor">
    <p>Zona para mayores</p>
  </div>

  <ng-template #Menor>
    <p>No puedes entrar aquí</p>
  </ng-template>

  <!-- Forma moderna -->
  <hr>
  <div>
    @if (edad >= 18) {
      <p>Puedes entrar en esta zona porque eres mayor</p>
    } @else {
      <p>No puedes entrar en esta zona porque eres menor</p>
    }
  </div>

</body>
</html>

<router-outlet></router-outlet>